@model MediaManager.Areas.Acquisition.ViewModels.DealMemo
@{
    ViewBag.Title = "Deal Memo Search";
    Layout = MediaManager.Infrastructure.Helpers.SharedPages.LayoutPage;
}



<form action="#" method="post">
<table cellpadding="0" cellspacing="0" id="Layout" width="100%" class="Layout">
    <tr>
        <td>
            @*class="pagecontent"*@
            <div class="mainHeading">
                Deal Memo Search
            </div>
            <div id="SearchInputDiv" class="PlaceHolder">
                <table id="SearchInputTable" cellpadding="0" cellspacing="0" class="tableLayout">
                    <tr>
                        <td colspan="7">
                            <div class="subHeading">
                                Search Criteria
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="10%" style="padding-left:5px;">
                           <label class="label">DM Number</label>
                        </td>
                        <td width="10%">
                            @Html.TextBoxFor(m => m.DMNumber_Search, new { @class = "inputTextSamll" })
                        </td>
                        <td width="2%">
                        </td>
                        <td width="10%">
                            <label class="label">Contract</label> 
                        </td>
                        <td width="10%">
                            @Html.TextBoxFor(m => m.ContractNo, new { @class = "inputTextSamll" })
                        </td>
                        <td width="3%">
                        </td>
                        <td width="52%">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:5px;">
                          <label class="label">Status</label>    
                        </td>
                        <td>
                            @Html.DropDownList("Status", new SelectList(Model.OPStatus.Select(x => new { Value = x, Text = x }), "Value", "Text"), new { @class = "select" })
                        </td>
                        <td>
                        </td>
                        <td>
                         <label class="label">Amortisation Method</label>

                            
                        </td>
                        <td valign="middle">
                            @Html.TextBoxFor(m => m.AmortMethod, new { @class = "inputTextSamll" })
                        </td>
                        <td>
                            <img id="AmortMethodLookupIcon" src="../../Content/images/lov_down_arrow.png" alt=""
                                class="VerticalAlignMiddle" />
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:5px;">
                            <label class="label">From Date</label> 
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.FromDate, new { @placeholder = "select a date", @class = "inputTextSamll" })
                        </td>
                        <td>
                            <img src="../../Content/images/date.png" id="FromdateDateIcon" alt="" class="VerticalAlignMiddle" />
                        </td>
                        <td>
                           <label class="label">To Date</label>  
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.ToDate, new { @placeholder = "select a date", @class = "inputTextSamll" })
                        </td>
                        <td>
                            <img src="../../Content/images/date.png" id="TodateDateIcon" alt="" class="VerticalAlignMiddle" />
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                        </td>
                        <td align="right">
                            <input type="button" class="inputButton" value="Search" id="btnSearch" onclick="DealMemoSearch()" />
                            <input type="button" class="inputButton" value="Reset" id="btnReset" onclick="ResetButtonClick()" />
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<table class="Layout" id="tblSearchResult" cellpadding="0" cellspacing="0">
    <tr>
        <td class="pagecontent">
            <div class="PlaceHolder" id="GridDiv">
                <table class="tableLayout">
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="subHeading">
                                Search Result
                            </div>
                            <div id="grdSearchResults"  style="height: 410px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <input type="button" class="inputButtonDisable" value="View Details" id="viewdetails"
                                onclick="viewDetails_click()" />
                            <a id="viewdetailsLink" href="~/Acquisition/DealMemoMaintenance/DealMemoMaintenance"
                                onclick="viewDetails_click()"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</form>


<script type="text/javascript">
    var dmsearchactionUrl = '@Url.Action("GetDealMemo", "DealMemoMaintenance", new { area = "Acquisition" })';
    var amortlookupactionUrl = '@Url.Action("GetAmortMethodLOVList", "DealMemoMaintenance", new { area = "Acquisition" })';
</script>

<script src="~/Content/Scripts/Acquisition/DealMemoMaintenance/DealMemoSearch.js"
    type="text/javascript"></script>

    <style>
    .cell-text-align
    {
    	text-align:right
    }        
</style>
