@model MediaManager.Areas.Media_Mgt.ViewModels.SeriesSearchViewModel
@*<h1></h1>*@
<form method="post">
<table class="Layout" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div>
                <table class="tableLayout" cellspacing="4" cellpadding="4">
                    <tr>
                        <td colspan="7">
                            <div class="subHeading">
                                Change Episode Number(Actual Number)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        @*<td style="padding-left: 15px" width="10%">
                            &nbsp;
                        </td>*@
                        <td width="30%" style="padding-left:5px">
                            @Html.LabelFor(m => m.seriesTitleMaintChangeEpisodeNo.SrcEpisodeFrom, new { @class = "label" })
                        </td>
                        <td width="5%" class="RequiredIndicator">
                            *
                        </td>
                        <td width="25%">
                            @Html.TextBoxFor(m => m.seriesTitleMaintChangeEpisodeNo.SrcEpisodeFrom, new { @class = "inputTextLarge", @id = "txtSrcEpisodeFrom" })
                        </td>
                        <td width="5%" align="center">
                            @Html.LabelFor(m => m.seriesTitleMaintChangeEpisodeNo.SrcEpisodeTo, new { @class = "label" })
                        </td>
                        <td width="2%" class="RequiredIndicator">
                            *
                        </td>
                        <td valign="middle" width="20%">
                            @Html.TextBoxFor(m => m.seriesTitleMaintChangeEpisodeNo.SrcEpisodeTo, new { @class = "inputTextLarge", @id = "txtSrcEpisodeTo" })
                        </td>
                        <td width="13%">
                        </td>
                    </tr>
                    <tr>
                        @*<td style="padding-left: 15px" width="5%">
                            &nbsp;
                        </td>*@
                        <td style="padding-left:5px">
                            @Html.LabelFor(m => m.seriesTitleMaintChangeEpisodeNo.DesEpisodeFrom, new { @class = "label" })
                        </td>
                        <td class="RequiredIndicator">
                            *
                        </td>
                        <td valign="middle">
                            @Html.TextBoxFor(m => m.seriesTitleMaintChangeEpisodeNo.DesEpisodeFrom, new { @class = "inputTextLarge", @onblur = "autocalcepisodeno()", @id = "txtDesEpisodeFrom" })
                        </td>
                        <td align="center">
                            @Html.LabelFor(m => m.seriesTitleMaintChangeEpisodeNo.DesEpisodeTo, new { @class = "label" })
                        </td>
                        <td class="RequiredIndicator">
                            *
                        </td>
                        <td valign="middle">
                            @Html.TextBoxFor(m => m.seriesTitleMaintChangeEpisodeNo.DesEpisodeTo, new { @class = "inputTextLarge", @id = "txtDesEpisodeTo" })
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        @*<td style="padding-left: 15px" width="5%">
                            &nbsp;
                        </td>*@
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td align="right" style="padding-right: 7px">
                            <input type="button" value="Save" class="inputButton" onclick="popup_Save_click()" />
                            <input type="button" value="Cancel" class="inputButton" onclick="popup_cancel_click()" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</form>
